<ion-card>
  <ion-header>
    <ion-toolbar>
      <ion-title class="titleBar">SERVIDORES AREA DE SISTEMAS</ion-title>
    </ion-toolbar>

    <ion-searchbar class="searchBar" placeholder="Buscar ip, hostname, url" animated (ionChange)="searchServer($event)"></ion-searchbar>
  </ion-header>

  <ion-content>
    <ion-refresher slot="fixed" (ionRefresh)="doRefresh($event)">
      <ion-refresher-content refreshingSpinner="crescent"></ion-refresher-content>
    </ion-refresher>

    <ion-list class="elements">

      <element-card *ngFor="let server of searchedServer; index as i"
          [element]="server">
        </element-card>

    </ion-list>
  </ion-content>
</ion-card>
